# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
android/key.properties
android/key.jks

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.*

# Archivos IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# Archivos personales
*.key
*.keystore
*.p12
*.cert
*.cer

# Configuración
.env
.env.*